html {
  font-family: 'Raleway', sans-serif;
}




.hero-image{
    background-image: url('/images/landscape-nature-grass-marsh-light-sun-535861-pxhere.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }

.home-hero{
  color: white;
  /*font: bold;*/
  font-size: 30px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
