
.wrapper {
    		display: grid;
    		grid-template-columns: 10% 20% 20% 20% 20% 10%;
        grid-template-rows: [navbar] 50px auto auto;

        grid-template-areas:
        "navbar navbar navbar navbar navbar navbar"
        ". trip-title map map filters ."
        ". vineyards map map 3rd-party .";

    	}
