.mapform {
  font-size: 15px;
  width: 275px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  border-radius: 25px;
  color: grey;
  box-sizing: border-box;
}

.button {
  background-color: #B88AAC;
}
