.navbar {
        grid-area: navbar;

      }
      .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #B88AAC;
      }

      .navbar li {
          float: left;
      }
      .navbar li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }

      /* Change the link color to #111 (black) on hover */
      .navbar li a:hover {
          text-shadow: DodgerBlue 1px 0 10px;
      }
      .title{
        font-size: 18px;
      }
