.tabs {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    margin-left: 2%;
    width: 32%;
    text-align: center;
}
.map-tabs > .tabs:first-child {
    margin-left: 0;
    border-right: solid black;
}
.map-tabs > .tabs:last-child {
    border-left: solid black;
}

.tabs-span:hover{
  background-color: lightgrey;
  border-radius: 2.5px;

}
